<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->
    <typeAliases>
        <typeAlias type="com.training.some_social_network.dao.UserDo" alias="User"/>
        <typeAlias type="com.training.some_social_network.dao.PostDo" alias="Post"/>
        <typeAlias type="com.training.some_social_network.dao.DialogDo" alias="Dialog"/>
        <typeAlias type="com.training.some_social_network.dao.handlers.UUIDTypeHandler" alias="UUIDTypeHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="com.training.some_social_network.dao.handlers.UUIDTypeHandler"/>
    </typeHandlers>
</configuration>