global
    maxconn 512

defaults
    log     global
    mode    tcp
    timeout connect 3s
    timeout client  30s
    timeout server  30s

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE

frontend entrypoint
    mode tcp
    bind *:5432
    default_backend nodes

backend nodes
    mode tcp
    balance roundrobin
    server server01 ${PG_SLAVE1} check inter 1s fall 3 rise 2
    server server02 ${PG_SLAVE2} check inter 1s fall 3 rise 2
